*.suo
*.resharper
*.user
*.nupkg
src/.nuget/NuGet.config
src/Grappachu.Interop.IbmMQ/bin/*
src/Grappachu.Interop.IbmMQ/obj/*
src/Grappachu.Interop.IbmMQ.Test/bin/*
src/Grappachu.Interop.IbmMQ.Test/obj/*

