<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grappachu.Interop.IbmMQ.Samples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="IBM.MQ.HostName" value="devemsimq002blq.yoox.net"/>
    <add key="IBM.MQ.Port" value="1421"/>
    <add key="IBM.MQ.User" value="mqm"/>
    <add key="IBM.MQ.Password" value="mqm"/>
    <add key="IBM.MQ.QueueName" value="valentinoDiEosInput"/>
    <add key="IBM.MQ.Channel" value="MQEXPLORER.REMOTE"/>
    <add key="IBM.MQ.QueueManager" value="QMDYWMS"/>
    <add key="IBM.MQ.ConnectionMode" value="1"/>
  </appSettings>
    <userSettings>
        <Grappachu.Interop.IbmMQ.Samples.Properties.Settings>
          <setting name="LastXml" serializeAs="String">
            <value>
              &lt;?xml version=""1.0"" encoding=""UTF-8""?&gt;
              &lt;ns0:MT_IF09_File xmlns:ns0=""http://valentino.com/YNAP/IF09_O_EndOfSeasonDelivery""&gt;
              &lt;Header&gt;
              &lt;Sales_and_Distribution_DocumentNumber&gt;0800210212&lt;/Sales_and_Distribution_DocumentNumber&gt;
              &lt;Date&gt;20170224&lt;/Date&gt;
              &lt;DivisionId&gt;17&lt;/DivisionId&gt;
              &lt;/Header&gt;
              &lt;Details&gt;
              &lt;ItemNumber_SD&gt;000001&lt;/ItemNumber_SD&gt;
              &lt;MaterialNumber&gt;MR3AB1450ES00142&lt;/MaterialNumber&gt;
              &lt;QuantityDelivery&gt;1.000&lt;/QuantityDelivery&gt;
              &lt;SalesUnit&gt;PCE&lt;/SalesUnit&gt;
              &lt;EAN_UPC&gt;8056687024336&lt;/EAN_UPC&gt;
              &lt;DocumentNumber&gt;0500004827&lt;/DocumentNumber&gt;
              &lt;ItemNumber&gt;000185&lt;/ItemNumber&gt;
              &lt;/Details&gt;
              &lt;Details&gt;
              &lt;ItemNumber_SD&gt;000002&lt;/ItemNumber_SD&gt;
              &lt;MaterialNumber&gt;MR3AB1450ES00086&lt;/MaterialNumber&gt;
              &lt;QuantityDelivery&gt;3.580&lt;/QuantityDelivery&gt;
              &lt;SalesUnit&gt;PCE&lt;/SalesUnit&gt;
              &lt;EAN_UPC&gt;8056687024334&lt;/EAN_UPC&gt;
              &lt;DocumentNumber&gt;0500004827&lt;/DocumentNumber&gt;
              &lt;ItemNumber&gt;000185&lt;/ItemNumber&gt;
              &lt;/Details&gt;
              &lt;/ns0:MT_IF09_File&gt;
            </value>
          </setting>
        </Grappachu.Interop.IbmMQ.Samples.Properties.Settings>
    </userSettings>
</configuration>